@import url(../styles/fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;
}
/* body{
    background-color: #141414;
} */
.section-navigation{
    background-color: #141414;
    width: 100%;
    padding-bottom: 40px;
}
.section-main-screen{
    background-color: #141414;
    width: 100%;
}
.section-recomendation{
    background-color: #141414;
    width: 100%;
}
.section-compilation-films{
    background-color: #141414;
    width: 100%;
}
.section-discovery-week{
    background-color: #141414;
    width: 100%;
}
.section-form-subscribe{
    background-color: #141414;
    width: 100%;
}
.logo h1{
    font-family: 'Gol Bold';
    font-size: 1.4rem;
    color: #6fb1fc;
    padding-right: 15px;
}

.navig a{
    font-family: 'Gol Reg';
    font-size: 0.8rem;
    color: white;
    padding-right: 15px;
}
.icon a{
    font-family: 'Gol Reg';
    font-size: 0.8rem;
    color: white;
    padding-right: 15px;
}
.icon img{
    padding-right: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.nav{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons{
    display: flex;
}
.icon{
    display: flex;
    align-items: center;
}
/* .ph{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.photo-main{
    background-image: url(../imgs/1.jpg);
    height: 600px;
    width: 1356px;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    /* margin-top: 40px; */
    /* display: flex;
    flex-direction: column; */

    padding-top: 230px;
    padding-left: 60px;
}
.text-title h1{
    /* padding-top: 30px; */
    font-family: 'Gol Bold';
    font-size: 3.1rem;
    color: #f0f0f0;
}
.text-title p .s-1{
    font-family: 'Gol Dem';
    color: white;
    font-size: 1rem;
    padding-right: 7px;
}
.text-title p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Gol Reg';
    color: #919190;
    font-size: 0.9rem;
}
.text-title p .s-2{
    margin-left: 7px;
    border: 1px solid #919190;
    border-radius: 3px;
    padding: 3px;
}
.text-title p .s-3{
    padding-left: 10px;
    padding-right: 10px;
}
.text-desc p{
    font-family: 'Gol Reg';
    font-size: 1rem;
    color: #dedede;
}
.knopki-main .kn-1, .kn-2{
    font-family: 'Gol Dem';
    font-size: 0.9rem;
    color: #f0f0f0;
}
.knopki-main .kn-1{
    padding: 15px 40px 15px 40px;
    background: linear-gradient(90deg, #0553d7,#4c6efa, #6eaffc);
    border-radius: 7px;
    margin-right: 15px;
}
.knopki-main .kn-2{
    padding: 15px 25px 15px 25px;
    background: linear-gradient(90deg, #000d21, #1a1c27);
    border-radius: 7px;
    margin-right: 15px;
}
.knopki-main .kn-3{
    padding: 15px 20px 15px 20px;
    background: linear-gradient(90deg, #000d21, #1a1c27);
    border-radius: 7px;
}
.knopki-main{
    padding-top: 30px;
}
.section-main-screen{
    padding-bottom: 70px;
}
.title h1{
    font-family: 'Gol Bold';
    font-size: 2.5rem;
    color: #f0f0f0;
}
.card h3{
    font-family: 'Gol Dem';
    font-size: 1rem;
    color: #f0f0f0;
}
.card p{
    font-family: 'Gol Reg';
    font-size: 0.9rem;
    color: #989898;
}
.card img{
    border-radius: 8px;
}
.cards{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.section-recomendation{
    padding-bottom: 100px;

}
.section-compilation-films{
    padding-bottom: 100px;
}
.photo-rec{
    background-image: url(../imgs/6.jpg);

    height: 580px;
    width: 1366px;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    /* padding-top: 40px; */

    padding-top: 140px;
    padding-left: 90px;
}
.week {
    font-family: 'Gol Bold';
    font-size: 0.8rem;
    color: #f0f0f0;
    text-transform: uppercase;

    padding: 15px 30px 15px 30px;
    background: linear-gradient(90deg, #fe532e, #f09619);
    border-radius: 25px;

}
.price{
    font-family: 'Gol Bold';
    font-size: 2.5rem;
    color: #f0f0f0;
    padding-top: 10px;
    padding-bottom: 20px;
}
.title-2{
    padding-top: 30px;
}
.desc-discov{
    padding-top: 60px;
}
.links{
    padding-bottom: 30px;
}
.links a{
    font-family: 'Gol Bold';
    font-size: 0.9rem;
    color: #6c6c6c;

    border-bottom: 2px solid rgba(255, 255, 255, 0);

    margin-right: 25px;
    transition: .3 s;
}
.desc-discov p{
    font-family: 'Gol Reg';
    font-size: 1rem;
    color: #f0f0f0;
}
.links a:hover{
    color: #f0f0f0;
    border-bottom: 2px solid #6fb1fc;
    padding-bottom: 3px;

    transition: .3s;
}
.discovery{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.photo-block img{
    border-radius: 10px;
}
/* .photo-block{
    display: grid;
    grid-template-columns: repeat(6, 117px);
    grid-template-rows: repeat(4, 1fr);
}
.bess{
    grid-row: 1/3;
    grid-column: 1/6;
}
.wom{
    grid-row: 3/3;
    grid-column: 1/3;
}
.lad{
    grid-row: 3/4;
    grid-column: 1/3;
}
.man{
    grid-row: 2/3;
    grid-column: 4/6;
}
.sofa{
    grid-row: 3/4;
    grid-column: 4/6;
} */
.knopki-main .n-1, .n-2{
    font-family: 'Gol Dem';
    font-size: 0.9rem;
    color: #f0f0f0;
}
.knopki-main .n-1{
    padding: 15px 40px 15px 40px;
    background: linear-gradient(90deg, #0553d7,#4c6efa, #6eaffc);
    border-radius: 7px;
    margin-right: 15px;
}
.knopki-main .n-2{
    padding: 15px 25px 15px 25px;
    background: linear-gradient(90deg, #000d21, #1a1c27);
    border-radius: 7px;
    margin-right: 15px;
}
.knopki-main .n-3{
    padding: 15px 20px 15px 20px;
    background: linear-gradient(90deg, #000d21, #1a1c27);
    border-radius: 7px;
}
.knopki-main{
    padding-top: 30px;
}
.photo-block{
    padding-left: 70px;
}
.bess img{
    height: 420px;
    border-radius: 20px;

}
.bess{
    padding-bottom: 40px;
}
.wom{
    padding-right: 27px;
}
.man{
    padding-right: 27px;
}
.blok-h{
    padding-bottom: 27px;
}
.section-discovery-week{
    padding-bottom: 80px;
}
.section-about-us{
    background-color: #1f1f1f;
    width: 100%;
    padding-bottom: 100px;
}

.text-about h1{
    font-family: 'Gol Bold';
    color: #f0f0f0;
    font-size: 1.8rem;
    padding-bottom: 20px;
}
.text-about p{
    font-family: 'Gol Reg';
    color: #f0f0f0;
    font-size: 1rem;
    padding-bottom: 30px;
}
.static-t h1{
    font-family: 'Gol Bold';
    background: #0355D5;
    background: linear-gradient(to right, #0355D5 17%, #6EB0FC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
.static-t p{
    font-family: 'Gol Reg';
    color: #f0f0f0;
    font-size: 1rem;
    text-align: left;

}
.about{ 
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    
}
.static-t{
    display: flex;
    flex-direction: column;
}
.text-about{
    display: flex;
    flex-direction: column;
}
.static{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-3{
    display: flex;
    flex-direction: column;
    width: 729px;
}
.str-1{
    width: 437px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.str-2{
    width: 494px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.text-about{
    /* display: flex;
    justify-content: space-between; */
}
.about img{
    height: 420px;
}

form .win label{
    font-family: 'Gol Reg';
    color: #dedede;
    font-size: 0.9rem;
}
.win{
    width: 399px;
}
form .win input{
    background: none;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;
}
.purpose{
    font-family: 'Gol Reg';
    color: #dedede;
    font-size: 0.9rem;
    padding-top: 10px;
}
.radio{
    padding-top: 15px;
    padding-bottom: 15px;
}
.radio label{
    padding-right: 15px;
}
.sogl label{
    font-family: 'Gol Reg';
    color: #dedede;
    font-size: 0.9rem;
}
.sogl{
    padding-bottom: 50px;
}

.but a{
    font-family: 'Gol Dem';
    font-size: 0.9rem;
    color: #f0f0f0;

    padding: 15px 40px 15px 40px;
    background: linear-gradient(90deg, #0553d7,#4c6efa, #6eaffc);
    border-radius: 7px;
}

.sub{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    align-items: center;
}
.cart-s p{
    font-family: 'Gol Reg';
    color: #dedede;
    font-size: 0.9rem;
}
.cart-s h1{
    font-family: 'Gol Bold';
    color: #6fb1fc;
    font-size: 1.8rem;
}
.cart-s{
    width: 270px;
    height: 170px;
    background: linear-gradient(90deg, #121d31, #121d31, #222b37);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-right: 30px;
}
.cr{
    display: flex;
    padding-bottom: 30px;
}
.cr-2{
    display: flex;
}
.section-form-subscribe{
    padding-bottom: 100px;
}
.section-footer{
    background-color: #1f1f1f;
    width: 100%;
    padding-bottom: 40px;
}
.text-f p{
    font-family: 'Gol Reg';
    color: #dedede;
    font-size: 0.7rem;
    padding-right: 15px;
}
.text-f a{
    font-family: 'Gol Reg';
    color: #dedede;
    font-size: 0.7rem;

    border-bottom: 1px solid #dedede;
}
.text-f{
    display: flex;
}
.social{
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.foot{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 480px){
    .container {
        width: 100%;
    }
    .nav{
        flex-direction: column;
    }
    .icons{
        padding-top: 15px;
    }
    .photo-main{
        height: 250px;
        width: 446px;
        padding-top: 76px;
        padding-left: 30px;
    }
    .ph{
        display: flex;
        justify-content: center;
    }
    .text-title h1{
        font-size: 1.4rem;
    }
    .text-title p .s-1{
        font-size: 0.4rem;
    }
    .text-title p{
        font-size: 0.4rem;
        padding-top: 5px;
    }
    .text-desc p{
        font-size: 0.5rem;
    }
    .knopki-main {
        padding-top: 4px;
    }
    .knopki-main .kn-1, .kn-2, .kn-3 img{
        padding-right: 5px;
    }
    .knopki-main .kn-1, .kn-2, .kn-3 a{
        font-size: 0.4rem;
    }
    /* .section-main-screen .knopki-main .kn-1, .kn-2, .kn-3 a{
        font-size: 0.4rem;
    } */
    .ph .knopki-main .kn-3 a{
        font-size: 0.4rem;
    }
    .knopki-main .kn-1{
        padding: 8px 15px 8px 15px;
        border-radius: 4px;
    }
    .knopki-main .kn-2{
        padding: 8px 18px 8px 18px;
        border-radius: 4px;
    }
    .knopki-main .kn-3{
        padding: 6px 12px 6px 12px;
        border-radius: 4px;

    }
    .title h1 {
        font-size: 1.5rem;
    }
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        flex-direction: column;
    }
    .section-main-screen {
        padding-bottom: 0;
    }
    .section-recomendation{
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .card{
        padding-bottom: 20px;
    }
    .photo-rec {
        height: 200px;
        width: 456px;
    }
    .ph-comp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-rec{
        padding-top: 40px;
        padding-left: 30px;
    }
    .text-title p {
        padding-bottom: 10px;
    }
    .discovery{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .discovery .text-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }
    .discovery .text-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }
    .discovery .text-title h1{
        font-size: 2rem;
    }
    .discovery .text-title p .s-1{
        font-size: 1rem;
        
    }
    .discovery .text-title p{
        font-size: 1rem;
        padding-bottom: 10px;
    }
    .discovery .price{
        display: flex;
        align-items: center;
        justify-content: center;

        padding-bottom: 40px;
    }
    .discovery .knopki-main .n-1, .n-2, .n-3 a{
        font-size: 0.8rem;
    }
    .discovery .knopki-main .n-1, .n-2 img{
        padding-right: 10px;
    }
    .discovery .knopki-main .n-1{
        padding: 15px 30px 15px 30px;
        border-radius: 7px;
    }
    .discovery .knopki-main .n-2 {
        padding: 15px 18px 15px 18px;
        border-radius: 4px;
    }
    .discovery .knopki-main .n-3 {
        padding: 15px 12px 15px 12px;
        border-radius: 4px;
    }
    .desc-discov {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .desc-discov .links{
        padding-bottom: 15px;
    }
    .photo-block{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bess, .wom, .lad, .man, .sofa{
        border-radius: 7px;
    }
    .bess{
        padding-bottom: 30px;
        width: 320px;
    }
    .wom, .lad, .man, .sofa{
        padding-bottom: 30px;
    }
    .blok-h{
        padding-bottom: 0px;
    }
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-discovery-week {
        padding-bottom: 30px;
    }
    .about {
        padding-top: 60px;
    }
    .about img {
        height: 290px;
        width: 390px;
    }
    .text-about{
        padding-left: 4 0px;
        padding-top: 30px;
    }
    .text-about h1 {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }
    .text-about p {
        font-size: 0.8rem;
        padding-bottom: 20px;
    }
    /* .str-1 {
        width: 307px;
    }
    .str-2 {
        width: 324px;
    } */
    .section-about-us {
        padding-bottom: 30px;
    }
    /* .static{
        width: 480px;
    } */
    .about-3{
        width: 419px;
    }
    .static-t h1{
        font-size: 1.5rem;
    }
    .static-t p{
        font-size: 1rem;
    }
    .sub{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .but{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cart-s{
        width: 200px;
        height: 140px;

        margin-right: 0px;
    }
    .social img{
        width: 10px;
    }
    .cards-sub{
        padding-top: 30px;
        padding-left: 0px;
    }
    .sogl {
        padding-bottom: 20px;
    }
    .text-f p {
        font-size: 0.4rem;
    }
    .text-f a {
        font-size: 0.4rem;
        border-bottom: none;
    }
    .social {
        width: 50px;
    }
    .foot{
        padding-top: 10px;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
    }
    .section-footer{
        padding-bottom: 10px;
    }
    .section-form-subscribe {
        padding-bottom: 60px;
    }
    /* .cr .car-1{
        margin-right: 40px;
    } */
    .cr-2, .cr {
        display: flex;
        justify-content: space-between;
        width: 420px;
    }
    .str-1, .str-2, .static{
        width: auto;
    }
}